/.git
/.env
/.env.local
/node_modules
/vendor
**/node_modules
**/.DS_Store
*.log
storage/logs/*
storage/uploads/*
.idea/
.vscode/
*.swp
*.swo
*~
.eslintrc
.prettierrc
installer/
package-lock.json
npm-debug.log*
